<div class="container">
	<h2 style="font-weight: 700; text-align: center; padding-bottom: 1rem; padding-top: 2rem;">Kosár</h2>
	<table id="cart" class="table table-hover table-condensed">
		<thead>
			<tr>
				<th style="width:45%">Termék neve</th>
				<th style="width:15%">Ára</th>
				<th style="width:8%">Mennyiség</th>
				<th style="width:22%" class="text-center">Részösszeg</th>
				<th style="width:10%"></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let item of cart; index as i">
				<td data-th="Termék neve">
					<div class="row">
						<div class="col-sm-10">
							<p class="nomargin">{{item.productName}}</p>
						</div>
					</div>
				</td>
				<td data-th="Ára">{{item.price}} Ft</td>
				<td data-th="Mennyiség">
					<input type="number" class="form-control text-center" [(ngModel)]="item.quantity">
				</td>
				<td data-th="Részösszeg" class="text-center">{{item.quantity * item.price}} Ft</td>
				<td>
					<button class="btn btn-success btn-sm" (click)="editQuantity(i)"><i class="fa fa-refresh"></i></button>
					<button class="btn btn-danger btn-sm" (click)="deleteFromCart(i)"><i class="fa fa-trash-o"></i></button>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td><button routerLink="/products" routerLinkActive="active" class="btn btn-outline-dark"><i
							class="fa fa-angle-double-left"></i> Vissza a termékekhez</button></td>
				<td class="d-none d-md-table-cell"></td>
				<td class="d-none d-md-table-cell"></td>
				<td class="d-none d-md-table-cell"></td>
				<td class="d-none d-md-table-cell"></td>
			</tr>
		</tfoot>
	</table>
</div>