 .button {
    position: absolute;
    bottom: 1.5rem;
}

 .card-text {
    margin-bottom: 80px;
} 

.body {
    margin-top: 1rem;
}

h2 {
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 2rem;
}

@media screen and (max-width : 1000px)
{

    .right {
        right: 25%;
    }
}

@media screen and (min-width : 1000px)
{

    .right {
        right: 30%;
    }
}

.btn-outline-dark:hover {
	background-color: #26272b;
}